.bold {
    -fx-font-weight: bold;
}

.border-left {
    -fx-border-color: transparent transparent transparent #cccccc;
}

.border-right {
    -fx-border-color: transparent #cccccc transparent transparent;
}

.no-focus-outline,
.no-focus-outline:hover,
.no-focus-outline:focused {
    -fx-focus-color: transparent;
}